<mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title>CATEGORIES</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
    <mat-list-option
      *ngFor="let item of categories"
      [value]="item"
      (click)="onShowCategory(item)"
      class="[&>span:nth-child(2)]:hidden"
    >
      <span [ngClass]="{ 'text-rose-500': category === item }">
        {{ item }}
      </span>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
